---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "View your schedule",
    description:
      "Enables you to view your schedule easily, and on iOS it supports the widget feature. It also supports Ramadan mode.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "View your absences",
    description:
      "Your absences are displayed in a list view with a progress indicator to show how much of the 20% threshold you have used. Nobody likes a DN on their record.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Dark & Light Mode",
    description:
      "The app supports both dark and light mode, and it will automatically switch to the mode that your device is currently using.",
    icon: "bx:bxs-data",
  },
];
---

<div id="features" class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to be successful in your studies
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Al Yamamah comes batteries included. It is the best student companion app
    ever!
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
