---
import GitHubIcon from "./GitHubIcon.astro";
import TwitterIcon from "./TwitterIcon.astro";
---

<footer class="bg-orange-200 flex flex-col items-center gap-2 p-5">
  <div class="flex flex-row justify-center gap-3">
    <TwitterIcon />
    <GitHubIcon />
  </div>
  <p>Made with ❤️ by Yazeed AlKhalaf</p>
</footer>
