---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
>
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      Al Yamamah makes life easier
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Al Yamamah is an app for university students. They can login with their
      credentails see everything they need.<wbr /> Built with Flutter and the code
      is open source!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a
        href="#"
        href="https://apps.apple.com/us/app/al-yamamah/id6446075372"
        target="_blank"
        class="flex gap-1 items-center justify-center w-56"
        rel="noopener"
      >
        <img src="/appstore.png" alt="app store download" />
      </a>
      <a
        href="#"
        href="https://play.google.com/store/apps/details?id=dev.alkhalaf.alyamamah"
        target="_blank"
        class="flex gap-1 items-center justify-center w-64"
        rel="noopener"
      >
        <img src="/playstore.png" alt="play store download" />
      </a>
    </div>
  </div>
</main>
